# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Understand different libraries in data science
* Understand different languages
* Introduction to R Studio
* Learn how to plot graphs in R Studio

## Author
Atharva Upagade

Some of the popular languages that Data Scientists use are:
* Python
* R
* Javascript
* Scala
* SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pytorch
3. Pandas
4. Seaborn
5. Sci-kit

|Data Science Tools|
|----|
|R studio|
|VS Code|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335